
body{
    /* height: 90vh;
    width: 100vw; */
    display: flex;
    align-items: center;
justify-content: center;
background-color: blue;



}

.cat-left-ear {
  background-color: black;
    width: 0px;
    height: 0px;
    position: relative;
    border-left:600px solid yellow;
    border-top:300px solid red;
    border-right:600px solid red;
    border-bottom:300px solid yellow;

   
    

  }

  .position{
    position: absolute;
    top: -100px;
  
    right:150px;
 
 
  
  }

  input{
    width: 400px;
    height: 20px;
    margin-top: 20px;
  }

  h1{
    margin-left: 0px;
    color: rgb(24, 12, 16);
    /* position: absolute;
    top: 0; */
  }