*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Baskervville,serif;
    color: linen;
    background-color: rgb(20, 30, 40);
}

h1{
    font-family: Anton,sans-serif;
}

h2, h3, h4, h5, h6{
    font-family: Raleway,sans-serif;
}

a{
    text-decoration: none;
    color: linen;
}

main{
    row-gap: 3rem;
    display: grid;
    grid-template-columns: minmax(1fr) minmax( 94rem) minmax(1fr);
}

.text{
    grid-column: 2/3;

    grid-template-columns: repeat(2, 1fr);
}

.hero{
    grid-column: 1/-1;
    position: relative;
}

img{
    width: 100%;
    object-fit: cover;
}

.hero-title{
    text-align: center;
    color: orangered;
    font-size: 8rem;
}

.hero-subtitle{
    font-size: 2.4rem;
    color: orangered;
    text-align: center;
}

.author{
    font-size: 2rem;
    font-family: Raleway sans-serif;
}

.author-name a:hover{
    color: #306203;
}

.publish-date{
    color: rgba(255, 255, 255, 0.5);
}

.social-icons{
    display: grid;
    font-size: 3rem;

    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 1fr;
    align-items: center;

    font-size: 1.8rem;
    letter-spacing: 0.6;

    column-width: 25rem;

    text-align: justify;
}

    .first-paragraph::first-letter{
        font-size: 8rem;
        color: orangered;

        float: left;
        margin-right: 1rem;
    }

    hr{
        margin: 1.5rem 0;
        border: 1px solid rgba(120, 120, 120, 0.6);
    }

    .quote{
        color: #00beef;
        font-size: 2.4rem;
        text-align: center;

        font-family: Raleway,sans-serif;
    }

    .quote::before{
        content: "";
    }
    .quote::after{
        content: "";


        grid-template-columns: 1fr 2fr;
        column-gap: 3rem;
    }

    .lists li{
      margin-bottom: 1.5rem;

      grid-template-columns: 2fr 1fr;
      grid-template-rows: repeat(3,min-content);
    }

    @media (max-width:720px){
        .image-wrapper{
            grid-template-columns: 1fr;
        }
    }


