*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

li{
    list-style: none;
}

body{
    background-color: gray;
    width: 100%;
    padding-bottom: 20px;

}
:root{
    --red-color:#e41827;
    --green-color: rgb(13, 151, 55);
    --white-color:rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    display: grid;
    background-color: var(--red-color);
    width: 100%;
    

}

.header-sec-1{
    width: 70%;
    margin: auto;
    display: grid;
    border: 1px solid var(--red-color);
}

.sec-1-top-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FE{
    display: flex;
    align-items:end;
    justify-content: end;
}
.site-name{
    font-size: 2rem;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(255, 0, 0, 0.164);

    
  
}

.site-name span{
    font-size: 2.5rem;
    color: var(--white-color);
    font-weight: 700;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 700;
    font-style: normal;
     /* font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal; */
    /* font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal; */
  
}

.country-name img{
    width: 7em;
    align-items:end;
   
}

.sec-1-bottom-div{
    display: flex;
    justify-content: end;
    gap: 10px;
    color:  rgba(255, 255, 255, 0.6);

}

.keep-user-in{
    display: flex;
}
#checkbox{
    width: 20px;
    background-color: transparent;
}

.keep-user-in input:active{
    background-color: var(--green-color);
}

.forgot-password{
color:  rgba(255, 255, 255, 0.6);

}




/* .sec-1-con-2 css  */


.sec-1-con-2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mob-input{
background-color: #2422227a;


}
.pass-input{
background-color: #2422227a;

}

.sec-1-con-2 input{
    padding: 7px;
    width: 150px;
    color: var(--white-color);
    background-color: transparent;
    font-size: 15px;
    
}

.sec-1-con-2 button{
    padding: 7px;
    background-color: transparent;
    color: var(--white-color);
}


.sec-1-con-2 input:focus{
    outline: none;
}

.sec-1-con-2 input::placeholder{
    color: rgba(255, 255, 255, 0.486)
}

#login{
    margin-left: -10px;
    padding: 7px 10px;
    color: var(--white-color);
    background-color: #2422227a;
    font-size: .9rem;
}

.register-button{
    border: 1px solid ;
    
}


/* position-sticky-div css */

.position-sticky{
    position: sticky;
    top: 0;
    z-index: 100;
}

.position-sticky-div{
    width: 100%;
    display: grid;
    background-color: var(--red-color);
    width: 100%;
   
   
    
    
}

.header-sec-2{
    width: 70%;
    margin: auto;
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 1fr auto;
}

.header-sec-2-item{
    display: grid;
    grid-template-columns:repeat(9,1fr);
    align-items: center;
    justify-content: center;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 100;
}


.header-sec-2-item a{
    
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    transition: all .4s ease;


}

.header-sec-2-item a:hover{
    background-color: aliceblue;
    color: black;
}

.header-sec-2-timezone{
    color: var(--white-color);
    font-size: 1.1rem;
}

/* header-sec-3 css */

.header-sec-3{
    background-color: var(--white-color);
  
   
}
.header-sec-3-div{
    background-color: var(--white-color);
    width: 70%;
    height: 40px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10,auto);
    font-size: 1rem;
    padding-right: 100px;
}
.more-sport-div{
    height: 100%;
}


.header-sec-3-div a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

}
.header-sec-3-div a:hover{
   border-bottom: 5px solid red;
}

.more-sport{
    position: relative;
    /* height: 100%; */
}

.more-sport i{
    font-size: 15px;
    margin-left: 5px;
    color: var(--green-color);
} 


.arrow{
    color: #e41827 !important;
    display: none !important;
}



.more-sport-items{
    position: absolute;
    background-color: var(--white-color);
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 130px;
    height: 200px;
    overflow: auto;
    /* margin-top: 10px; */
    display: none;
}

.more-sport-items a{
    padding: 10px;

}

.more-sport-items a:hover{
    padding: 5px;
    border:3px solid var(--green-color);
    
}










/* main Sectiion 1 css  */

main{
    display: grid;   

}

.main-secton-1-main{
    background-color: black;
    margin-top: 50px;
    height:auto;
}

.main-section-1{
    width: 73%;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 500px 200px ;
}

.main-sec-1{
    background-color: rgba(46, 44, 44, 0.26);

}
.main-sec-2{
    /* border: 1px solid wheat; */
    padding-top: 10px;

   
}
.main-sec-3{
    /* border: 1px solid wheat; */
    background-color: rgba(46, 44, 44, 0.26);
    padding-right: 50px;
    padding-top: 10px;

   
}


.popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: var(--white-color);
}

.popular:not(:last-child){
    border-bottom: 1px solid wheat;
}

.popular i{
    font-size: 15px ;
    color: var(--green-color);
}

.popular:first-child{
    font-size: 25px;
    
}



.main-sec-2 a{
    width: 100%;
    height: 20px;
}
.main-sec-2 img{
    width: 100%;
}

.main-sec-3{
    /* border: 1px solid wheat; */
}
.main-sec-4{
    /* border: 1px solid wheat; */
}
.main-sec-5{
    /* border: 1px solid wheat; */
}


/* Remaining div CSS  */

.remaining-sec{
    width: 73%;
    margin: auto;
}

.advert img{
    width: 100%;
    height: auto;
    border: 1px solid;
}

.section-2{
    display: grid;
    grid-template-columns: 1fr 220px;
    gap: 10px;
}

.section-2-left-con{
    /* padding: 10px; */
    /* padding: 10px; */
}
.section-2-right-con{
    border: 1px solid red;
}

.highlights{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hi-light-text{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hi-dot{
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--green-color);
}

.hi-light-text p{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.671);
}

.hi-other-content{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 20px;
    margin-right: 10px;
}

.hi-other-content p i{
    margin-right: 10px;
}




.event-type{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
}
.header-div{
    display: grid;
    height: 50px;
    grid-template-columns:repeat(6,auto);
    align-items: center;
   
    margin-left: 20px;
}

.header-div a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.header-div a:hover{
    border-bottom: 3px solid red;
}


main{
    padding-bottom: 2000px;
}










/* <div class="page-shortcut"> CSS  */

.page-shortcut{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
    border-top: 1px solid rgba(128, 128, 128, 0.219);
}


.overflow{
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.527);
    padding: 10px 0 10px 10px;
    background-color: rgba(199, 197, 197, 0.151);
}

.overflow p{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: sans-serif;
}

.overflow p:last-child{
    font-weight: 600;
    color: rgba(61, 59, 59, 0.801);
}


/* <section class="main-page-upc-math"> Css  */
.section-2-left-con{
    padding: 10px;

}

.upComing-matches{
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
}

.upcom-match-section{
    background-color: #fff;

    display: grid;
    grid-template-columns: 270px 180px 190px 1fr;
    gap: 10px;
    font-size: 15px;
}

.upcom-match-section div{
    /* border: 1px solid red; */
}



.upcom-match-date{
    font-size: 17px;
    font-weight: 600;
}


.odds-button{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.odds-button li{
    padding: 10px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.upcom-match-info{
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
    border-top: 1px solid rgba(128, 128, 128, 0.219);
    padding: 5px;
}

.upcom-match-info li{
    background-color: green;
    color: white;
    font-size: 15px;
}

.upcom-match-info li:nth-of-type(2){
    border-right: 1px solid white;
    border-left: 1px solid white;
}


.upcom-match-info li:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.upcom-match-info li:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.upcom-match-info li:hover{
    opacity: 0.8;
}

.upcom-match-details{
    display: flex;
    justify-content: space-between;
}

.team-info-con{
    display: flex;
    align-items: center;
    font-size: 17px;

}

.team-info-con span{
    display: block;
}

.time-id {
    font-size: 13px;
    margin-right: 20px;
}

.time-id span:last-child{
    opacity: 0.6;
}


.total-odds-types i{
    margin-left: 10px;
    color: rgb(13, 151, 55);
}

.team-info-stat{
    margin-right: 10px;
}



.over-odds{
    position: relative;
}

#t-goals-dropdown{
    border: none;
    color: white;
    outline: none;
    background-color: green;
    color: white;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 9px;
    border-right: 1px solid white;
}
#t-goals-dropdown:focus{
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}

#t-goals-dropdown option{
    background-color: #fff;
    color: black;
    font-size: 12px;
    margin-right: 20px;
}

#t-goals-dropdown option:hover{
    background-color: green;
    cursor: pointer;
}
.event-type .more-sport-item{
    color:black;
}







/* <div class="live-matches">  */


.live-matches{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(27, 30, 37);
    color: white;

}


.live-matches .upcom-match-section{
    background-color: rgb(27, 30, 37);

}

.hi-light-text p{
    color: white;
}


.live-matches .more-sport-items {
    background-color: black;
}
.live-matches .header-div
 a:hover{
    border-bottom: 5px solid green;
 }

 .live-header,.live-odd{
    display: grid;
    grid-template-columns: 270px 170px 190px 70px;
    gap: 10px;
    /* border: 1px solid green; */
    height: auto;
 }

 .live-header {
    padding: 5px;
    /* border: 1px solid red; */
 }


 .live-header-ele-2,.live-header-ele-3{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    font-size: 12px;
 }


 .align-left{
    display: flex;
    align-items: center;
    justify-content: left;
 }
 .align-center, .live-odd li{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .brown-back{
    /* background-color: gray; */

 }

 .grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

 }

 .grid-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;

 }
 .live-odd{
    font-size: 14px;
    padding: 10px 0;
     }

 .live-header{
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);

 }

 .live-odd{
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);

 }

 .all-live-content{
    margin-bottom: 20px;
 }

 .live-odd li{
    background-color: green;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #num-goals{
    background-color: green;
    color: white;
    align-self: stretch;
    border-right: 1px solid #000;

 }

 #num-goals:focus{
    outline: none;
    cursor: pointer;
 }

#num-goals option{
    background-color: black;
    width: inherit;
    text-align: center;
    cursor: pointer;
} 


.live-odds-odd li:nth-of-type(2){
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    
}

.live-odd-ele-1{
    display: grid;
    grid-template-columns: 70px 1fr;
}

.team-name-score-div,.time-half{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 3px;
}

.team-Name{
    color:rgba(21, 197, 21, 0.877);
    font-weight: 700;
}

.team-name-score{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.live-odd-ele-1 div{
    /* border: 1px solid red; */
}

.live-odd li:hover{
    opacity: 0.7;
    cursor: pointer;
}

.view-more{
    width: 100%;
    height: 40px;
    background-color: rgba(231, 228, 228, 0.377);
    color: white;
    font-weight: 600;

    
}

select:hover,select option{
    cursor: pointer;
}




/* <section class="section-2-right-con">  */


#betslip{
    background-color: rgb(27, 30, 37);
    padding: 20px 5px 5px 5px;



}

.betslip-cashout{
    color: white;
}


.betslip-h{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 17px;
    font-family: sans-serif;
}

.BB-green{
    border-bottom: 5px solid green;
}

.slip-num{
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.548);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

.real-sim{
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    font-weight: 500;

}

.r-s{
    display: inline-block;
    /* border: 1px solid red; */
    padding: 3px 10px;
    text-transform: uppercase;
    border-radius: 20px;
    color: gray;
    font-weight: 700;

}

.real{
    background-color: green;
    color: white;
}


.sim:hover{
    background-color: gold;
    color: black;

}

.slip-head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    font-size: 13px;
    color: white;
}

.green{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.white{
    background-color: #ffffffe3;
    color: #000;
}

.remove-all{
    display: flex;
    justify-content: end;
    background-color: #fff;
    padding: 10px;

}

.r-all-text{
    font-size: 10px;
    font-family: serif;
    border: 1px solid gray;
    padding: 2px;
}

.betslip-selection{
    background-color: #fff;
}

.slip-selected{
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 12px;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #0000003a;


}

.checked{


}

.selected-con{

    

}

.SB{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TOM-icon{
    font-size: 12px;
}
.selected-market,.value-2-odd{
    font-size: 15px;
}


.odd-calcu-con{
    background-color: #fff;
    font-size: 13px;
    padding: 10px;



}

.odd-calcu-con-H{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 70px;
    gap: 10px;
}

.stake-2 input{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.425);
    text-align: right;
    font-size: 11px;
    padding: 2px;
}

.stake-2 input:focus{
    outline: none;
}


.T-stake-P-win{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 14px;
    gap: 2px;
}

.FS{
    font-size: 15px;
}

.FW{
    font-weight: 600;
}