.sec-3{
    border: 1px solid blue;
    background-color: #fff;
    display: grid;

  } 



.sec-3-first-div{
    border: 1px solid green;
    display: grid;
    grid-template-rows: 20px 1fr 1fr;
    gap: 10px;
    margin: 15px;
}

.sec-3-title {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    align-items: center;
    border: 1px solid red;
 


}
.sec-3-title p{
    font-weight: 500;
    color: #555;

}

#error{
    height: 12px;
    width: 12px;
    background-color: black;
    color: white;
    padding: 3px 4px;
    font-size: 12px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;


}
.all-feed{
    display: grid;
    border: 1px solid red;
    margin: 0;
    padding: 0;
    /* gap: 10px; */
}

.feed-info{
    border: 1px solid red;
    margin: 0;
   

    display: grid;
    grid-template-columns:auto 1fr;
    gap: 5px;
   

}

.feed-profile-pic{
   
    display: flex;
    justify-content: center;


}
.feed-profile-pic img{
    width: 80%;
    height: 60%;
}

.feed-details{
  
    display: grid;
    grid-template-rows:auto auto 1fr ;
    gap: 5px;
}

.feed-account-name{
 
    font-weight: 600;
    color: #555;
    font-size: 14px;
}
.feed-account-info{

    font-size: 12px;
    font-weight: 400;
    color: rgb(148, 146, 146);
}
.feed-account-follow{

    display: flex;
    gap: 10px;
    align-items: center;
   
  
}

.feed-account-follow p:hover{
    background-color: rgba(243, 243, 243, 0.518);
}

.feed-account-follow p{
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 13px;
    word-spacing: 5px;
    font-weight: 500;
    color: #855;
    
}





.recommended-feed p{
      font-size: 14px;
    font-weight: 500;
    color: #666;
    margin: 0;
}
.recommended-feed p:hover{
    background-color: gray;
}




.sec-3-second-div{
    background-color: red;
}




