*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto sans-serif;
    color: rgb(51, 53, 52);
}



body{
  padding-top: 85px;
  padding-left: 260px;
  /* padding-right: 80px; */
  padding-bottom: 100px;
  width: 100%;
  margin-right: 0;

}

.highlight{
  display: flex;

  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  margin-left: 30px;
  gap: 1em;
  padding-right: 50px;
}

.photo-preview{
  border: 1px solid green;
  height: 15em;  
  position: relative;
  width:400px ;
}



.photo-preview img {
    width:100%;
    height: 100%;
    object-fit:calc(0);
    margin: 0;
}
.photo-preview video {
    width:100%;
    height: 100%;
    object-fit:cover;
    margin: 0;
}

.photo-preview p{
    position: absolute;
    bottom: 0.8em;
    left:0.7em;
    font-size: 1.7em;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-variation-settings:"wdth" 100;
   
}


.content{
    display: flex;
    margin-right: 0;
    flex-wrap: wrap;
    gap: 5px;
    flex-grow: 4;
 
}

.content-items{
  border: 1px solid black;
  min-width: 150px;
  height: 200px;
  max-width: 200px;
  /* min-width: 0px; */
  /* max-width: 500px; */
 


}

.photo-container{
  margin-right: 0;

}

.content-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }




.time {
  margin-top:30px ;
}

.photo-container p{
  display: block;
  font-size: 20px;
  color: rgb(96 96 96);
  margin-bottom: 15px;
  margin-top: 10px;

}




/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
} */



/* Roboto styles */

/* .roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
} */
